/* ------------------- GENERAL ------------------- */

.footer
{
    border-top: solid 3px #232C33;
    padding-top: 20px;
    text-align: center;
}

.footer a
{
  color: #232C33;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  margin: 10px;
  padding-bottom: 4px;
  border-bottom: solid 3px #5A7D7C;
}

.footer a :visited
{
    color: #232C33;
}
